{%extends 'base.html'%}
{% block title%} About page {%endblock%} 
{%block content%}
<div class="container border shadow ">
   <center> <h1 class="abh mb-4 mt-4 text-center"> About Us </h1></center>
    <p class="border text-center tt"> This website is deleveloped by Third year GIS Students in Haramaya University  as a group project.</p>
    
   <div class="dd d-block border  shadow "> <ol class=""> 
      <h2 class=""> Group Members </h2>
      <li class=""> Getahun Tsegaye </li>
        <li> Getahun Tsegaye </li>
        <li> Getahun Tsegaye </li>
        <li> Getahun Tsegaye </li>
        <li> Getahun Tsegaye </li>
        <li> Getahun Tsegaye </li>
        <li> Getahun Tsegaye </li>
        
         </ol></div>

</div>

{% endblock%} 